.cardios {
  display: flex;
  justify-content: space-evenly;
}

.cat {
  border: 2px solid blue;
  background-color: lightblue;
}

.hiss {
  background-color: pink
}

.timer-container {
  margin: auto;
  width: 300px;
  background-color: pink;
  height: 250px;
}